body {
    margin: 0px;
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
 }
 
 a, a:visited, a:hover, a:active {
    color: inherit;
  }

 ul {
     /* this removes the dots on the list items*/
     list-style-type: none;
     display: flex;
     gap: 8px;
   }
 
 #logo {
    font-weight: bolder;
 }

 .header {
     display: flex;
     align-items: center;
     justify-content: space-around;
 }
 
 .hero,
 .footer {
     background-color: #1F2937;
 }
 
 .hero {
     font-size: 24px;
     color: #F9FAF8
 }
 
 .secondary {
     font-size: 18px;
     color: #E5E7EB;
 }
 
 .main-text {
     font-size: 48px;
     font-weight: bolder;
     color: #F9FAF8;
 }
 
 .hero-btn {
     color: #3882F6; 
 }
 
 .cta-btn {
     background-color: #3882F6;
 }

.grouped-img,
.img-txt {
    text-align: center;
    width: 250px;
}

.gr-img-all {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-bottom: 80px;
}

 .info-text {
     font-size: 36px;
     font-weight: bolder;
     color: #1F2937;
     display: flex;
     justify-content: center;
 }
 
 .quote {
     background-color: #E5E7EB;
     display: flex;
     justify-content: center;
 }
 
 .q-text {
     font-size: 36px;
     font-weight: light;
     font-style: italic;
     color: #1F2937;
     margin-bottom: 0px;
 }
 
 .q-name {
     font-weight: bold;
     display: flex;
     justify-content: flex-end;
     padding-right: 20px;
 }

 .q-box {
    width: 830px;
    padding-top: 80px;
    padding-bottom: 80px;
 }
 
 .aws-sec {
    display: flex;
    justify-content: center;
    gap: 580px;
    padding-top: 40px;
    padding-bottom: 80px;
 }

 .grouped {
    width: 400px;
 }

 .main-text {
    margin-bottom: 0;
 }

 #sec-text {
    margin-top: 0px;
    margin-bottom: 0px;
 }