body {
    margin: 0px;
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
 }
 
 a, a:visited, a:hover, a:active {
    color: inherit;
  }

 ul {
     /* this removes the dots on the list items*/
     list-style-type: none;
     display: flex;
     gap: 8px;
   }
 
 #logo {
    font-weight: bolder;
 }

 .header {
     display: flex;
     align-items: center;
     justify-content: space-around;
 }
 
 .hero,
 .footer {
     background-color: #1F2937;
 }
 
 .hero {
     font-size: 24px;
     color: #F9FAF8
 }
 
 .secondary {
     font-size: 18px;
     color: #E5E7EB;
 }
 
 .main-text {
     font-size: 48px;
     font-weight: bolder;
     color: #F9FAF8;
 }
 
 .hero-btn {
    margin-top: 10px;
     background-color: #3882F6;
     color: white;
     border: 0;
     border-radius: 8px;
     width: 100px;
     height: 30px;
     font-weight: bolder;


 }

.grouped-img,
.img-txt {
    text-align: center;
    width: 250px;
}

.gr-img-all {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-bottom: 60px;
}

.img-brdr {
    width: 200px;
    border: 5px solid #3382F6;
    border-radius: 10px;
}


 .info-text {
     font-size: 36px;
     font-weight: bolder;
     color: #1F2937;
     display: flex;
     justify-content: center;
 }
 
 .quote {
     background-color: #E5E7EB;
     display: flex;
     justify-content: center;
 }
 
 .q-text {
     font-size: 36px;
     font-weight: light;
     font-style: italic;
     color: #1F2937;
     margin-bottom: 0px;
 }
 
 .q-name {
    font-size: 20px;
     font-weight: bold;
     display: flex;
     justify-content: flex-end;
     padding-right: 20px;
 }

 .q-box {
    width: 830px;
    padding-top: 80px;
    padding-bottom: 80px;
 }
 
 .aws-sec{
    display: flex;
    justify-content: center;
    gap: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
 }

 .hero-img {
    width: 400px;
}

 .grouped {

    width: 400px;
 }

 .main-text {
    margin-bottom: 0;
    margin-top: 0;
 }

 #sec-text {
    margin-top: 0px;
    margin-bottom: 0px;
 }

 .cta-bkgrd {
    display: flex;
    justify-content: center;
 }

 .cta {
    color: white;
    margin-top: 80px;
    margin-bottom: 80px;
    background-color: #3382F6;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 160px;
    width: 900px;
    border-radius: 10px;
 }

 .cta-text-1 {
    font-weight: bolder;
 }

 .cta-btn {
    background-color: #3882F6;
    color: white;
    font-weight: bolder;
    border: 2px solid white;
    border-radius: 8px;
    width: 90px;
    height: 30px;
}

.footer {
    display: flex;
    justify-content: center;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
}